mat-card{
    margin: 30px auto;
    width:80%;
}

#inputField{
    font-size:22px;
    width:100%;
    margin-bottom: 15px;
}


#formField{
    margin-top:50px;
    width:90%;
}

#logBtn{
    margin-top: 50px;
    height:45px;
    width:100px;
    font-size:20px;
}

#forgotLink{
    right:0;
    margin-left: 10px;
    font-size:19px;
    margin-top: 10px;
}