<mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
        <div>
          <mat-form-field id="formField">
            <input matInput placeholder="Email" formControlName="email" id="inputField">
            <mat-error *ngIf="!loginForm.get('email')?.errors?.required && (loginForm.get('email')?.errors?.pattern)">
              Please enter a valid email address
            </mat-error>
            <mat-error *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched) && loginForm.get('email')?.errors?.required">
              Email is required
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field id="formField">
            <input matInput type="password" placeholder="Password" formControlName="password" id="inputField">    
            <mat-error *ngIf="!loginForm.get('password')?.errors?.required">
              Password length must be greater than or equal to 8 and password must contain one or more uppercase , lowercase , numeric and special characters
            </mat-error>
            <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched) && loginForm.get('password')?.errors?.required">
              Password is required
            </mat-error>
          </mat-form-field>
        </div>
        <a id="forgotLink">Forgot password?</a>
        <br>
        <button [disabled]="!loginForm.valid" mat-raised-button mat-button id="logBtn">Log In</button>
    </form>
  </mat-card>
  